<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="${title}">Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>


	<section class="banner d-flex justify-content-center align-items-center">
		<div class="container text-center my-5">
			<h6 class="text-center ml-3">Hey everyone and welcome to Owl Book World! With there being a lot of readers
				out there I want to be able to
				give everyone another option of where to get books. I’m getting to the point where I’m getting tired of
				putting
				money into someone’s pocket that makes three times as someone who owns an independent book store. I’d
				rather put
				my money towards someone who actually needs it and it probably struggling right now because of covid. If
				I’m
				like that then I’m sure there are even more people out there who feel the same way. Eventually, I’m
				going to do
				a post on alternatives of Amazon but first I want to bring up Bookshop. What is Bookshop? And exactly do
				they
				help independently owned stores?</h6>
			<img src="/img/bookimg.jpg" alt="book img" />

		</div>

	</section>



</body>

</html>