<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="${title}"></title>
</head>

<body>

	<section class="banner d-flex justify-content-center align-items-center">

		<div class="container my-5 p-5" style="border: 1px solid black;">

			<form class="col-md-4 offset-md-4" th:action="@{/save}" method="post">
				<div class="mb-3">
					<label for="name" class="form-label">Book Name</label>
					<input required name="name" type="text" class="form-control">
				</div>
				<div class="mb-3">
					<label for="author" class="form-label">Author</label>
					<input required name="author" type="text" class="form-control">
				</div>
				<div class="mb-3">
					<label for="price" class="form-label">Price</label>
					<input required name="price" type="text" class="form-control"
				</div>

				<center><button type="submit" class="btn btn-primary my-3">Submit</button></center>
			</form>
		</div>

	</section>

</body>

</html>